version: '2.2'

services:
   hubzilla:
     links:
       - hubdb:db
     hostname: hub
     domainname: dettbarn.org
     build:
       context: .
       dockerfile: Dockerfile
     volumes:
       - /local/hubzilla:/data
     restart: unless-stopped
     environment:
       SERVERNAME: yourserver.org
     ports:
       - "80"
     network_mode: "bridge"

   hubdb:
     image: mariadb:latest
     volumes:
       - /local/hubdb:/var/lib/mysql
     restart: unless-stopped
     environment:
       MYSQL_ROOT_PASSWORD: password
       MYSQL_DATABASE: hubdb
       MYSQL_USER: hubdb
       MYSQL_PASSWORD: hubdb-password
     network_mode: "bridge"

